* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.converter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.converter__form {
  padding: 16px;
  background-color: #ffffffe0;
  border-radius: 8px;
  border: 1px solid gray;
}

.message {
  text-align: center;
  padding: 8px 15px;
  background-color: #0b0b0b17;;
  height: 35px;
}

.color__input {
  padding: 5px 10px;
  height: 35px;
  text-align: center;
  background-color: #0b0b0b17;;
  margin-bottom: 8px;
  border: none;
}

.color__input:focus {
  outline: 2px solid gray;
  border-radius: 6px;
}